.vscode/**
.vscode-test/**
src/**
node_modules/.package-lock.json
node_modules/@types/**
node_modules/typescript/**
node_modules/@vscode/**
.gitignore
tsconfig.json
plan.md
requirements.md
**/*.ts
**/*.map
